@import "_minix.scss";
@import "common.scss";
.web {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.top {
    width: 100%;
    height: pxTorem(40px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: pxTorem(16px);
    @include sizing;
    padding-left: pxTorem(10px);
    padding-right: pxTorem(10px);
}

section {
    width: 100%;
    flex: 1;
    .aa {
        width: 100%;
    }
    .box {
        width: 100%;
        flex: 1;
        dl {
            width: 100%;
            height: pxTorem(70px);
            display: flex;
            margin-top: pxTorem(15px);
            justify-content: space-between;
            dd {
                margin-left: pxTorem(15px);
                .p {
                    font-size: pxTorem(18px);
                }
            }
            dt {
                margin-right: pxTorem(15px);
            }
        }
    }
}

.bottom {
    width: 100%;
    height: pxTorem(50px);
    display: flex;
    dl {
        width: 20%;
        text-align: center;
    }
}